<ti-table [srcData]="srcData" [(displayedData)]="displayedData">
  <table>
    <thead>
      <tr>
        <th *ngFor="let column of columns">{{ column.title }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of displayedData">
        <ng-container *ngFor="let column of columns">
          <td *ngIf="![
                row['_span']?.rowspan[column['key']],
                row['_span']?.colspan[column['key']]
              ].includes(0)"
              [attr.rowspan]="row['_span']?.rowspan[column['key']]"
              [attr.colspan]="row['_span']?.colspan[column['key']]">
            {{ row[column['key']] }}
          </td>
        </ng-container>
      </tr>
    </tbody>
  </table>
</ti-table>
